<h3>Create Produit</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">type</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="produit.titre" name="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">prix</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="produit.prix" name="lastName">
    </div>

    <div class="form-group">
      <label for="code-à-bare">Code_barres</label>
      <input type="text" class="form-control" id="code-à-bare" required [(ngModel)]="produit.Code_barres" name="emailId">
    </div>
    <div class="form-group">
      <label for="disponibilité"> description</label>
      <input type="text" class="form-control" id="disponibilité" required [(ngModel)]="produit. description" name="disponibilité">
    </div>

    <div class="form-group">
      <label for="qté">quantite </label>
      <input type="text" class="form-control" id="qté" required [(ngModel)]="produit.quantite" name="emailId">
    </div>
    <div class="form-group">
      <label for="qté livré">quantitelivre </label>
      <input type="text" class="form-control" id="qté livré" required [(ngModel)]="produit.quantitelivre " name="emailId">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newProduit()">Add</button> -->
</div>
